<html lang="en">
    <head>
        <base href="http://localhost/Vmart/assets/">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/MetronicExtracted/css/style.css" rel="stylesheet">
    </head>


    <body class="fixed-top breakpoint-1280">
        <div class="page-container row-fluid">
            <div class="page-content">
                
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN STYLE CUSTOMIZER-->
                            
                            <!-- END STYLE CUSTOMIZER-->  
                            <h3 class="page-title">
                                
                            </h3>
                           
                        </div>
                    </div>


                 <div class="row-fluid">
               <div class="span12">
                   
                   
                   
                   
                   
                  <div class="portlet box" id="form_wizard_1">
                     <div class="portlet-title">
                        <h4>
                           <i class="icon-reorder"></i> Form Wizard - <span class="step-title">Step 1 of 4</span>
                        </h4>
                      
                     </div>
                     <div class="portlet-body form">
                        <form action="#" class="form-horizontal" >
                           <div class="form-wizard">
                              <div class="navbar steps">
                                 <div class="navbar-inner">
                                    <ul class="row-fluid">
                                       <li class="span3">
                                          <a href="#tab1" data-toggle="tab" class="step active">
                                          <span class="number">1</span>
                                          <span class="desc"><i class="icon-ok"></i> Account Setup</span>   
                                          </a>
                                       </li>
                                       <li class="span3">
                                          <a href="#tab2" data-toggle="tab" class="step">
                                          <span class="number">2</span>
                                          <span class="desc"><i class="icon-ok"></i> Profile Setup</span>   
                                          </a>
                                       </li>
                                       <li class="span3">
                                          <a href="#tab3" data-toggle="tab" class="step">
                                          <span class="number">3</span>
                                          <span class="desc"><i class="icon-ok"></i> Billing Setup</span>   
                                          </a>
                                       </li>
                                       <li class="span3">
                                          <a href="#tab4" data-toggle="tab" class="step">
                                          <span class="number">4</span>
                                          <span class="desc"><i class="icon-ok"></i> Confirm</span>   
                                          </a> 
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                             
                              <div id="bar" class="progress progress-success progress-striped">
                                 <div class="bar"></div>
                              </div>
                               
                               
                              <div class="tab-content">
                                     <div class="tab-pane active" id="tab1"></div>
                                     <div class="tab-pane" id="tab2"></div>                           
                                     <div class="tab-pane" id="tab3"></div>                                                                      
                                     <div class="tab-pane" id="tab4"></div>                                            
                              </div>
                              <div class="form-actions clearfix">
                                     <a href="javascript:;" class="btn button-previous"><i class="m-icon-swapleft"></i> Back </a>
                                     <a href="javascript:;" class="btn blue button-next">Continue <i class="m-icon-swapright m-icon-white"></i></a> 
                                     <a href="javascript:;" class="btn green button-submit">Submit <i class="m-icon-swapright m-icon-white"></i></a>       
                              </div>
                           </div>
                        </form>
                         
                     </div>
                  </div>
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
               </div>
            </div>

                </div>

            </div>

        </div>






        <script src="jquerylib/jquery-1.10.1.min.js"></script>    
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="bootstrap/MetronicExtracted/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="bootstrap/MetronicExtracted/app.js"></script>













        <script>
            jQuery(document).ready(function() {       
                // initiate layout and plugins
                App.init();
            });
        </script>




    </body></html>