<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
         <base href="http://localhost/Vmart/assets/">
        <title>jQuery Validate Demo | aLittleCode</title>

        <meta name="viewport" content="width=device-width">


        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="screen">

    </head>
    <body>
      
                                
                                <form action="" id="contact-form" class="form-horizontal">
                                    <fieldset>
                                        <legend>Sample Contact Form <small>(will not submit any information)</small></legend>

                                        <div class="control-group">
                                            <label class="control-label" for="name">Your Name</label>
                                            <div class="controls">
                                                <input type="text" class="input-xlarge" name="name" id="name">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="email">Email Address</label>
                                            <div class="controls">
                                                <input type="text" class="input-xlarge" name="email" id="email">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="subject">Subject</label>
                                            <div class="controls">
                                                <input type="text" class="input-xlarge" name="subject" id="subject">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="message">Your Message</label>
                                            <div class="controls">
                                                <textarea class="input-xlarge" name="message" id="message" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-primary btn-large">Submit</button>
                                            <button type="reset" class="btn">Cancel</button>
                                        </div>
                                    </fieldset>
                                </form>
       

        <!-- ==============================================
                         JavaScript below! 															-->

        <!-- jQuery via Google + local fallback, see h5bp.com -->
        <script src="jquerylib/jquery-1.10.1.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="bootstrap/js/bootstrap.js"></script>

        <!-- Validate plugin -->
        <script src="js/bootvalidate/assets/js/jquery.validate.min.js"></script>

        <!-- Prettify plugin -->
      

        <!-- Scripts specific to this page -->
        <script src="js/bootvalidate/script.js"></script>

     

    </body>
</html>
