.accordian-child{

    background-color: #f5f5f5 !important;
}

.activex{

    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #858585;
    z-index: 2 !important;
    border-color: #A0A0A0 !important;

}


.activex:hover{


    background-color: #5E5E5E !important;
    color: #ffffff !important;
    z-index: 2 !important;
    border-color: #A7A7A7 !important;
}

.vmartalert{ 
    background-color: #A3A3A3;
    color: white;
    border: none;
    font-size: 12px;
    font-weight: normal;
}

.vmartalert button{
    color: #ffffff;
}

.whatpepol{
    background-color: #eeeeee;

}

.whatpepol h5{
    color: #999;
}
.accordion-group {

    border-top: none !important;
    margin-bottom:none !important;

    border-bottom: none !important;
    -webkit-border-radius: none !important;
    -moz-border-radius: none !important;
    border-radius: none !important;
}


.ulstyle li a i{
    opacity: .25 !important;
}

.ulstyle li a{
    color: #8D8D8D;
}

.ratingx{

    width: 200px !important;
    height: 29px !important;
    vertical-align: middle;
    display: table;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ratingx .full{

    display: table-cell;
    background: url(../images/fixed_images/ratingstars/st1.png); 
    background-repeat: no-repeat;
    width: 32px !important;
    height: 29px !important;

}

.ratingx .empty{

    display: table-cell;
    background: url(../images/fixed_images/ratingstars/st0.png); 
    background-repeat: no-repeat;
    width: 32px !important;
    height: 29px !important;

}



.roolingitem{
    min-height: 0px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;

}

.roolingitem img{
    float: left;
    margin-right: 7px;
    margin-bottom: 1px;
    line-height: 0.5px;
}

.roolingitem p{
    margin: 0px;
    font-size: 11px;
}

#voiceBtn{

    margin-top: 5px;

}


.passwordchange {
    /* new custom width */
    width: 300px !important;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -240px !important;
}


#fixstusut { 

    border-collapse:separate;
    border-spacing:0 5px;
}


.rightbarx{

    margin-left:10px;
}

.rightbarx a{
    color:#51a351;
}


.statusofproduct{
    color: white;
}

.justgot{
    background-color: #D1D11E;
}

.working{
    background-color: #891ED1;
}

.done{
    background-color: #468847;
}

.rejected{
    background-color: #FF1B1B;
}




.sellerlandata{
    margin-top: 50px !important;
    margin-left: 0px !important;
}

.sellerlandata span{
    margin-bottom: 20px !important;
    font-size: 50px;
    margin-left: 0px;
    height: 64px;
    color: #8A8A8A;


}

.sellerlandata hr{
    margin-top: 12px !important;
    margin-bottom: 20px !important;
}

.fb-like-box{
    width: 270px !important;
    border: none !important;
}

._4s7c {
    border: 0px solid #aaa;
    border-top-color: #315c99;
}


.mymenyu a{
    background-image: url("../images/fixed_images/backgrounds/tab.png");
    background-repeat: no-repeat;
    height:64px;
    text-decoration: none;
    width:128px;
    display: table-cell;
    padding-top: 30px;
}

.mymenyu a:hover{
    background-image: url("../images/fixed_images/backgrounds/tab hover.png");
    background-repeat: no-repeat;
    height:64px;
    text-decoration: none;
    width:128px;
    display: table-cell;
    padding-top: 30px;
}

.mymenyu .navseller{
    
    margin-left: 48px;
    font-size: 12px;
}





