body{font-family: Arial;  }
p{font-family: Arial}
#header{
    width: 100%;  
    float: left;background:  #fff no-repeat center;border-bottom: 1px solid #69D2E7

}

.navbar{
    border-bottom: 1px rgb(111, 111, 111) solid !important;
}

.brand{
    width: 159px !important;
    height: 40px !important;
    padding: 0px !important;
    background: url(../images/assets/logoSMALL.png) no-repeat center !important; 


}
#header .span12 {margin: 0 auto;float: none;}
#main{width: 100%;float: left;min-height: 300px ;position: relative; }
#main .span12{margin: 0 auto ; float: none; width: 1150px !important}
#main .span9{margin: 0  0 0 0;width: 720px}
.mainContent{
    padding-top: 20px;
    padding-left:20px;
}
.mainContent ul> li{


    margin-bottom: 5px !important;
}
.muted{
    margin-left: 20px;
}
.mainContent ul{

    margin-left: 0px !important;

}
.span10{margin: 0 auto; float: none;position: relative}
.container{width:  auto; }

.logo{float: left; }
.logo a:hover,.logo a:link,.logo a:visited{color: #333; text-decoration: none}
.hero-unit{background: none;clear: both;padding: 20px 60px}
.hero-unit p{text-shadow : 0 2px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125)}
#header h1{letter-spacing: -5px; color: #fff;}

.menuContent{float:right;margin:47px}
.pagination{text-align:center;}
#footer{min-height:120px;float:left; width:100%;}


.headerimglk{ 
    background: url(../images/assets/cover.jpg) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 320px; 
    width: 100%; 

    margin-top:10px;
}


.ratex{
    background: transparent url("../images/fixed_images/ratingstars/staritem.png") no-repeat -150px -50px;
    display: inline-block !important;
    width: 82px !important;
    height: 14px !important;
}

.fivestars_0_0 {
    background-position: -150px -50px;
}

.fivestars_0_5 {
    background-position: -150px -64px;
}

.fivestars_1_0 {
    background-position: -150px -78px;
}

.fivestars_1_5 {
    background-position: -150px -92px;
}

.fivestars_2_0 {
    background-position: -150px -106px;
}

.fivestars_2_5 {
    background-position: -150px -120px;
}

.fivestars_3_0 {
    background-position: -150px -134px;
}


.fivestars_3_5 {
    background-position: -150px -148px;
}


.fivestars_4_0 {
    background-position: -150px -162px;
}

.fivestars_4_5 {
    background-position: -150px -176px;
}

.fivestars_5_0 {
    background-position: -150px -190px;
}


.nuberofsales{

    color:grey !important;
    font-size: 11px;
    margin-left: 5px !important;
    margin-top: -3px;

}




.itemtitle{
    padding: 0 !important;
    line-height: 10px !important;
    font-size: 11px;
    font-weight: normal !important;
    color:#706C6C;
    font-weight: 800 !important;
    max-height: 30px;
    overflow: hidden;
}

.caption{
    padding-top: 2px !important;
    padding-left: 5px !important;
}
.caption .row{
    margin-top: 2px;
    margin-bottom: 7px !important;
}

.vmartthumb {
    border: none !important;
    padding: 3px;
    cursor: pointer;
    list-style: none;
    width: 180px;
    margin-top: 30px;
    box-shadow: 1px 1px 10px #888888;
    border-radius:5px;

}

.vmartthumb .label-info{
    background-color: #8CB2C5 !important;
}
.vmartthumb img{
    width: 180px !important;
}

.raterowma{
    
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

}

.vmartthumb:hover .thumbnail{
    box-shadow: 0.5px 0.5px 8px #888888;  
}

.vmartthumb:hover .raterowma{

    display: block;
    opacity: 1;



}


.gig-load-more {
    background: transparent url("../images/fixed_images/backgrounds/formordata.png") no-repeat top center;
    height: 160px;
    text-align: center;
    clear: both;
    display: none;
}


.gig-load-more .btn-standard-lrg {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    width: 160px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 65px;
}

.btn-standard-lrg.btn-white {
    background-color: #fff;
    color: #777;
    border-color: #ccc;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.btn-standard-lrg {
    background: #00b22d url("../images/fixed_images/backgrounds/loadfv.gif") no-repeat -2000px -2000px;
    display: inline-block;
    font: 700 16px/16px 'Lato', Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #028a25;
    padding: 16px 40px;
    margin: 0;
    -webkit-transition: color 0.2s,background-color 0.2s,box-shadow 0.2s,border 0.2s;
    -moz-transition: color 0.2s,background-color 0.2s,box-shadow 0.2s,border 0.2s;
    -o-transition: color 0.2s,background-color 0.2s,box-shadow 0.2s,border 0.2s;
    transition: color 0.2s,background-color 0.2s,box-shadow 0.2s,border 0.2s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.loadmore{
    
    box-shadow: 0.5px 0.5px 1px #888888;  
}

.vmartthumb:hover{
    box-shadow: 0.2px 0.2px 10px #888888;
    border-radius:5px;
}

.vmartthumb:hover .label-info{
    background-color: #3a87ad !important;
}

.vmartthumb .thumbnail{

    box-shadow: 0.8px 1px 1px #888888;
}







#landingcontent li{
    max-width: 200px !important;
}

.caption .row .span6, .span1{
    height: 14px !important;
    min-height: 14px!important; 
}


.topsellerx img{
    width: 150px;
}

.topsellerx{
   
    margin-top: 34px !important;
    margin-left:50px !important;
    width: 130px;
}




.label-info.price{font-size: 15px ; margin-top: 3px;float: left}
.caption{
    padding-bottom:0px !important;
}
.caption .price {
    padding-top: 6px;
    float: none;
    height: 20px;
    font-size: 13px;
}

.mp-container {
    background: #fafafa url("../images/fixed_images/backgrounds/vmart.png") repeat top left;
    padding-bottom: 60px;
    position: relative;
}


.description{
    font-size: 12px;
}





ul#topsellers,
ul#topsellers li {
    /* Setting a common base */
    margin: 0;
    padding: 0;
}

ul#topsellers li {
    display: inline-block;
    width: 140px;
    margin-top: 5px;

}

ul#topsellers li .thumbnail{

    width:130px !important; 
    margin-top: 5px !important; 
} 

#topsellers{
    margin-top: -10px !important;
}




ul#selleritems,
ul#selleritems li {
    /* Setting a common base */
    margin: 0;
    padding: 0;
}

ul#selleritems li {
    display: inline-block;
    width: 210px;
    margin-top: 10px;
    margin-left: 3px !important;

}

#selleritems{
    margin-top: -10px !important;
}




.mystylepdetailitme > li{

    width: 100% !important;
    line-height: 20px !important;
}


#carosalproductsx > li:not(:first-child){

    margin-left: 15px !important;
}


.pagessho{

    width:100%; 
    text-align:center; 
    margin-top:20px;
}


.backgrondim {
    background:#fafafa url(../images/fixed_images/backgrounds/background.png) repeat top left;
    padding-bottom:60px;
}


.moroptions{
    margin-top: 20px;
}

.moroptions .item img{

    border: 1px solid #ddd;
}

#gallery{

    padding-top: 20px;
}


.modal .thumbnail img{width: 300px; height: 268px}
#modal,#modalCart{display: none}

.alertAdd{position: fixed; bottom: 0px; right: 90px;display: none;z-index: 1100;text-align: center}
.thumbnails > li {float: none}
.buyNow{display: none}
#footer .span9{margin: 0 auto; float: none;padding: 10px 0 0 0;}
#footer .controls{float: left; }
#footer h6 a{color: #999999}
/* Footer section--------------- */
#footerSection {background: #202020;color: white;padding: 28px 0 44px;border-top: 1px solid #444;}
#footerSection a{color:#ccc; font-size:11px; padding:0; line-height:24px; display:block; }
#footerSection a:hover{color:#fff;  }
#footerSection  #socialMedia a{ min-width:25px; display:inline; margin-right:6px; text-align:center; line-height:1.5em;}
#socialMedia img{max-width:60px;}
#footerSection  #socialMedia a:hover{background:none;}
/* ===================================================== */
h2{padding-bottom: 20px;}
#rightside.span3{margin-left: 0;padding-top: 20px}
footer .span12{margin: 0 auto ; float: none;}
footer{float: left; width: 100%;padding-top: 10px ; border-top : 1px solid #EEEEEE}